altgraph==0.17.4
black==25.1.0
cabarchive==0.2.4
cachetools==6.0.0
click==8.2.1
colorama==0.4.6
cx_Freeze==8.2.0
cx_Logging==3.2.1
filelock==3.18.0
lief==0.16.5
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pefile==2023.2.7
pillow==11.3.0
platformdirs==4.3.8
prettier==0.0.7
psutil==7.0.0
py2exe==0.13.0.2
pygame==2.1.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pywin32==310
pywin32-ctypes==0.2.3
striprtf==0.0.29
tomli==2.2.1
ttkwidgets==0.13.0
typing_extensions==4.14.0
